In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
variables = ["price", "tri", "volume(VO)", "mtbv", "cap", "bid", "ask", "price(EUR)"]
column_name = pd.read_excel('HW2 data 1.xlsx', sheet_name= "price").columns

In [3]:
var_dict=dict()
for item in variables:
    var_dict[item] = pd.read_excel('HW2 data.xlsx', sheet_name=item)
    var_dict[item].columns = column_name
    var_dict[item].columns.values[1] = 'date'
    start_date = pd.to_datetime("2018-09-01")
    end_date = pd.to_datetime("2024-10-23")
    var_dict[item] = var_dict[item][(var_dict[item]['date'] >= start_date) & (var_dict[item]['date'] <= end_date)].reset_index(drop=True)

In [4]:
price_df = var_dict['price']
tri_df = var_dict['tri']
volume_VO_df = var_dict['volume(VO)']
mtbv_df = var_dict['mtbv']
cap_df = var_dict['cap']
bid_df = var_dict['bid']
ask_df = var_dict['ask']
price_EUR_df = var_dict['price(EUR)']

In [5]:
analyst_df = price_df.iloc[:,:2].copy()
analyst_df_1 = pd.read_excel('analyst_daily_changes.xlsx')
analyst_df_1.columns.values[0] = 'date'
analyst_df = analyst_df.merge(analyst_df_1, on=['date'], how='left')
analyst_df.iloc[:,2:] = analyst_df.iloc[:,2:].fillna(0)
analyst_df.columns = price_df.columns
analyst_df

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,KESKOB.HE,2018-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,STERV.HE,2018-09-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,KNEBV.HE,2018-09-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WRT1V.HE,2018-09-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,METSB.HE,2018-09-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,2024-10-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,NaN,2024-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1600,NaN,2024-10-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1601,NaN,2024-10-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1602,NaN,2024-10-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
myday = price_df['date'].dt.strftime("%d-%m-%Y")
myday

0       03-09-2018
1       04-09-2018
2       05-09-2018
3       06-09-2018
4       07-09-2018
           ...
1598    17-10-2024
1599    18-10-2024
1600    21-10-2024
1601    22-10-2024
1602    23-10-2024
Name: date, Length: 1603, dtype: object

In [7]:
volume_df = volume_VO_df.copy()
volume_VO_df_filtered = volume_VO_df.iloc[:,2:].fillna(0)
price_EUR_df_filtered = price_EUR_df.iloc[:,2:].fillna(0)
volume_df.iloc[:,2:] = price_EUR_df_filtered * price_EUR_df_filtered * 1000
volume_df.columns = price_df.columns
volume_df

/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/1197372264.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  volume_VO_df_filtered = volume_VO_df.iloc[:,2:].fillna(0)
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/1197372264.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  price_EUR_df_filtered = price_EUR_df.iloc[:,2:].fillna(0)

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,KESKOB.HE,2018-09-03,14280250.0,1.917089e+07,4831.204,1572122.5,32433.025,5565160.0,289680.4,12166090.0,...,8035329.6,11035502.5,2719622.5,1.665648e+09,14899.600,5808.100,2805820.9,4914010.0,109830.4,646684.9
1,STERV.HE,2018-09-04,14042250.0,1.927571e+07,4774.225,1580062.5,31080.625,5041000.0,284596.9,12210250.0,...,8219235.6,11060728.9,2766760.0,1.567229e+09,15729.156,5550.736,2714410.0,4744454.4,109411.6,638572.9
2,KNEBV.HE,2018-09-05,13900410.0,1.871424e+07,4787.344,1584040.0,30636.225,4872040.0,280897.6,11902810.0,...,8024576.4,10776516.1,2719622.5,1.507493e+09,14868.736,5410.276,2667722.5,4613126.4,107744.4,625500.1
3,WRT1V.HE,2018-09-06,13618890.0,1.905145e+07,4796.100,1588022.5,30525.625,4747210.0,289000.0,11427610.0,...,7786297.6,10666758.4,2740522.5,1.540577e+09,14122.564,4990.756,2647102.5,4602265.6,107744.4,627502.5
4,METSB.HE,2018-09-07,13735840.0,1.915013e+07,4879.681,1552360.0,30085.225,4522562.5,291384.9,11990250.0,...,7423545.6,10776516.1,2678062.5,1.496683e+09,13942.756,4700.224,2536129.6,4160250.0,106708.9,629508.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,2024-10-17,47002240.0,5.712769e+07,14409.616,1672810.0,5779.216,2899822.5,150798.4,43264000.0,...,5814062.5,11597136.1,1263802.5,1.862870e+09,34692.100,1073545.225,2324204.1,61231502.5,81721.6,466560.0
1599,NaN,2024-10-18,46958890.0,5.730470e+07,14440.000,1743062.5,5817.744,2830240.0,150307.6,44901610.0,...,5806440.0,11666160.1,1296000.0,1.991203e+09,34928.100,1035552.400,2368768.9,60540602.5,80820.1,466560.0
1600,NaN,2024-10-21,47393290.0,5.564126e+07,14379.264,1755610.0,5769.604,2730062.5,150307.6,39561210.0,...,5640010.0,11233880.1,1218010.0,2.036614e+09,34869.025,1085043.600,2341592.1,59194890.0,81540.9,455822.5
1601,NaN,2024-10-22,46354090.0,5.551678e+07,14107.536,1722250.0,6012.304,2772022.5,149328.4,39422102.5,...,5602522.5,11257210.0,1218010.0,1.991881e+09,34574.400,1115560.000,2312648.1,58636622.5,82810.0,462250.0
1602,NaN,2024-10-23,45113760.0,5.385324e+07,14040.009,1819022.5,5846.724,2515022.5,145926.4,38416000.0,...,5806440.0,11018700.9,1200622.5,1.919804e+09,34222.500,1139062.500,2275290.0,57648010.0,95844.1,457960.0

In [8]:
# (ask-bid) / ((ask+bid)/2)
spread = ask_df.copy()
ask_df_filtered = ask_df.iloc[:,2:]
bid_df_filtered = bid_df.iloc[:,2:]
spread.iloc[:,2:] = (ask_df_filtered - bid_df_filtered) / ((ask_df_filtered + bid_df_filtered)/2)
spread

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,SAPGEUR.xbo,2018-09-03,0.004615,0.000321,0.000455,0.001259,0.001757,0.000670,0.001176,0.003633,...,0.001117,0.000255,0.000959,0.001039,0.004655,0.003314,0.001012,0.000285,0.000471,0.000787
1,SATG_pEUR.xbo,2018-09-04,0.004631,0.000320,0.000458,0.001258,0.000896,0.000704,0.001186,0.000905,...,0.001765,0.000510,0.000950,0.000428,0.002018,0.000849,0.000515,0.000290,0.000947,0.000396
2,SCOR.PA,2018-09-05,0.004674,0.000324,0.000914,0.002518,0.000904,0.000717,0.002388,0.000916,...,0.001784,0.000517,0.001918,0.001091,0.000519,0.001718,0.000519,0.000295,0.000476,0.000799
3,LOIM.PA,2018-09-06,0.004722,0.000644,0.000457,0.002515,0.000906,0.000726,0.002354,0.000935,...,0.000454,0.000259,0.002869,0.000648,0.001065,0.003577,0.000521,0.000885,0.000475,0.001597
4,CFR.S,2018-09-07,0.004694,0.000322,0.001812,0.005089,0.001825,0.001486,0.002933,0.002743,...,0.000232,0.000775,0.004843,0.001096,0.000536,0.004610,0.001066,0.000310,0.000386,0.001196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,2024-10-17,0.005045,0.000447,0.002894,0.001223,0.003328,0.000929,0.004874,0.000481,...,0.001965,0.000998,0.002813,0.000984,0.003390,0.007506,0.001114,0.000404,0.000485,0.006969
1599,NaN,2024-10-18,0.005507,0.000445,0.000263,0.006006,0.007404,0.000939,0.001630,0.007054,...,0.000656,0.000496,0.006959,0.000950,0.000846,0.001243,0.001100,0.000203,0.000486,0.006969
1600,NaN,2024-10-21,0.005056,0.000452,0.001318,0.001194,0.002489,0.000957,0.003268,0.005015,...,0.002660,0.000505,0.002865,0.000940,0.001692,0.004560,0.001109,0.000205,0.000485,0.004695
1601,NaN,2024-10-22,0.005574,0.000454,0.000266,0.002413,0.012260,0.001899,0.001638,0.002774,...,0.000668,0.000508,0.001434,0.000952,0.001699,0.001198,0.001676,0.000413,0.001446,0.002323
1602,NaN,2024-10-23,0.005178,0.000461,0.002940,0.002345,0.001658,0.001994,0.003311,0.000766,...,0.000656,0.000511,0.001444,0.000963,0.003413,0.000592,0.001124,0.000416,0.000449,0.006985

In [9]:
tcost = spread.copy()
tcost.iloc[:,2:] = spread.iloc[:,2:]/ 2 + 0.0001

In [10]:
tcost

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,SAPGEUR.xbo,2018-09-03,0.002408,0.000260,0.000328,0.000730,0.000979,0.000435,0.000688,0.001917,...,0.000659,0.000228,0.000580,0.000620,0.002427,0.001757,0.000606,0.000243,0.000335,0.000493
1,SATG_pEUR.xbo,2018-09-04,0.002415,0.000260,0.000329,0.000729,0.000548,0.000452,0.000693,0.000552,...,0.000983,0.000355,0.000575,0.000314,0.001109,0.000524,0.000358,0.000245,0.000574,0.000298
2,SCOR.PA,2018-09-05,0.002437,0.000262,0.000557,0.001359,0.000552,0.000458,0.001294,0.000558,...,0.000992,0.000359,0.001059,0.000646,0.000359,0.000959,0.000359,0.000247,0.000338,0.000500
3,LOIM.PA,2018-09-06,0.002461,0.000422,0.000328,0.001357,0.000553,0.000463,0.001277,0.000568,...,0.000327,0.000230,0.001535,0.000424,0.000632,0.001889,0.000360,0.000542,0.000337,0.000899
4,CFR.S,2018-09-07,0.002447,0.000261,0.001006,0.002645,0.001012,0.000843,0.001567,0.001472,...,0.000216,0.000488,0.002521,0.000648,0.000368,0.002405,0.000633,0.000255,0.000293,0.000698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,2024-10-17,0.002622,0.000323,0.001547,0.000712,0.001764,0.000564,0.002537,0.000340,...,0.001083,0.000599,0.001506,0.000592,0.001795,0.003853,0.000657,0.000302,0.000343,0.003584
1599,NaN,2024-10-18,0.002854,0.000322,0.000232,0.003103,0.003802,0.000570,0.000915,0.003627,...,0.000428,0.000348,0.003579,0.000575,0.000523,0.000721,0.000650,0.000202,0.000343,0.003584
1600,NaN,2024-10-21,0.002628,0.000326,0.000759,0.000697,0.001344,0.000579,0.001734,0.002608,...,0.001430,0.000353,0.001533,0.000570,0.000946,0.002380,0.000655,0.000203,0.000342,0.002447
1601,NaN,2024-10-22,0.002887,0.000327,0.000233,0.001306,0.006230,0.001050,0.000919,0.001487,...,0.000434,0.000354,0.000817,0.000576,0.000950,0.000699,0.000938,0.000306,0.000823,0.001261
1602,NaN,2024-10-23,0.002689,0.000331,0.001570,0.001272,0.000929,0.001097,0.001756,0.000483,...,0.000428,0.000356,0.000822,0.000581,0.001806,0.000396,0.000662,0.000308,0.000325,0.003592

In [11]:
T = myday.shape[0]
isactive = price_df.copy()
isactive.iloc[:,2:] = 0

In [12]:
# The stock must have valid price and total return index for at least 90% of the past 252 business days
# First 252 days no data
price_df_filtered = (price_df.iloc[:,2:].notna().rolling(window=252).sum().fillna(0) >=  (252 * 0.9))
tri_df_filtered = (tri_df.iloc[:,2:].notna().rolling(window=252).sum().fillna(0) >=  (252 * 0.9))
isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()

/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: DEUTSCHE BOERSE, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: KUEHNE UND NAGEL INTERNATIONAL, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: KPN KON, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: INTERPARFUMS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: YIT, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: ERAMET, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: M6-METROPOLE TV, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: SARTORIUS STEDIM BIOTECH, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: KEMIRA, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: ASSA ABLOY B, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: RENAULT, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: HANNOVER RUECK, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: STMICROELECTRONICS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: SONOVA N, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: DERICHEBOURG, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: COFINIMMO, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: DEMANT, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: NOKIAN RENKAAT, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: SWEDBANK A, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: BOLIDEN ORD SHS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: CREDIT AGRICOLE, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: ASML HOLDING, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: EMEIS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: ALFA LAVAL, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: TELENOR, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: MELEXIS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: LEROY SEAFOOD GROUP, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: CTP NV, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: EQUINOR, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: NEXANS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: JCDECAUX, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: JUST EAT TAKEAWAY.COM, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: ANTIN INFRASTRUCTURE PARTNERS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: UNIVERSAL MUSIC GROUP, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: OVH PROMESSES, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  isactive.iloc[:,2:] = (price_df_filtered & tri_df_filtered).copy()
/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/2160409462.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       False
1       False
2       False
3       False
4       False
        ...
1598     True
1599     True
1600     True
1601     True
1602     True
Name: AUTOSTORE HOLDINGS, Length: 1603, dtype: bool' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.

In [13]:
# true if not dead
dead_filtered = price_df.iloc[:,2:].diff().fillna(0)
ten_days = (dead_filtered.rolling(window=10).sum() != 10).astype(bool)
isactive.iloc[:,2:] = (isactive.iloc[:,2:] & ten_days).copy()

/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/3367561429.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dead_filtered = price_df.iloc[:,2:].diff().fillna(0)

In [14]:
# first 21 days no data
tri_df_filtered_2 = (tri_df.iloc[:,2:].notna().rolling(window=21).sum() >=  (21 * 0.9)).astype(bool)
volume_df_filtered = (volume_df.iloc[:,2:].notna().rolling(window=21).sum() >=  (21 * 0.9)).astype(bool)
isactive.iloc[:,2:] = isactive.iloc[:,2:] & tri_df_filtered_2 & volume_df_filtered

In [15]:
mtbv_df_filtered = mtbv_df.iloc[:,2:].notna()
cap_df_filtered = cap_df.iloc[:,2:].notna()
isactive.iloc[:,2:] = isactive.iloc[:,2:] & mtbv_df_filtered & cap_df_filtered

In [16]:
# assume 21 days in one month
spread_filtered = (spread.iloc[:,2:].notna().rolling(window=21).sum() == 21)
isactive.iloc[:,2:] = isactive.iloc[:,2:] & spread_filtered

In [17]:
# analyst recommendations
analyst_df_filtered = (analyst_df.iloc[:,2:] != 0).cumsum() != 0
isactive.iloc[:,2:] = isactive.iloc[:,2:] & analyst_df_filtered

In [18]:
month_begin = pd.DataFrame(isactive['date'])
match_index = month_begin.groupby([month_begin['date'].dt.year, month_begin['date'].dt.month]).head(1).index

In [19]:
isactive_filtered_1 = ((spread.iloc[:,2:] == False).rolling(window=21).sum() == 0) & (spread.iloc[:,2:] < 0.01)
isactive_filtered_2 = ((spread.iloc[:,2:] == False).rolling(window=21).sum() != 0) & (spread.iloc[:,2:] < 0.008)

In [20]:
# average daily volume over the past month was more than 1 million euros per day
isactive_filtered_3 = ((spread.iloc[:,2:] == False).rolling(window=21).sum() == 0) & (volume_df.iloc[:,2:].rolling(window=21).mean() > 1000000)
isactive_filtered_4 = ((spread.iloc[:,2:] == False).rolling(window=21).sum() != 0) & (volume_df.iloc[:,2:].rolling(window=21).mean() > 1200000)

In [21]:
isactive_filtered = isactive.copy()
isactive_filtered.iloc[match_index,2:] = isactive_filtered.iloc[match_index,2:] & (isactive_filtered_1.loc[match_index] | isactive_filtered_2.loc[match_index])
isactive_filtered.iloc[match_index,2:] = isactive_filtered.iloc[match_index,2:] & (isactive_filtered_3.loc[match_index] | isactive_filtered_4.loc[match_index])
isactive_filtered

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,KESKOB.HE,2018-09-03,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,STERV.HE,2018-09-04,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,KNEBV.HE,2018-09-05,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,WRT1V.HE,2018-09-06,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,METSB.HE,2018-09-07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,NaN,2024-10-17,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1599,NaN,2024-10-18,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1600,NaN,2024-10-21,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1601,NaN,2024-10-22,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1602,NaN,2024-10-23,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [22]:
isactive1 = isactive.copy()
isactive1  = isactive1.replace(True, np.nan)
isactive1.loc[match_index] = isactive_filtered.loc[match_index]
isactive1 = isactive1.ffill()
isactive1

/var/folders/dc/50gvb__n16zg7t4f_3178_wc0000gn/T/ipykernel_76927/1832339841.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  isactive1 = isactive1.ffill()

,RIC,date,DEUTSCHE BOERSE,KUEHNE UND NAGEL INTERNATIONAL,KPN KON,INTERPARFUMS,YIT,ERAMET,M6-METROPOLE TV,SARTORIUS STEDIM BIOTECH,...,SODEXO,CARLSBERG B,VICAT,A P MOLLER MAERSK B,BOLLORE,VIRIDIEN,FLSMIDTH AND B,SCHNEIDER ELECTRIC,SVENSKA HANDELSBANKEN A,LAGARDERE GROUPE
0,KESKOB.HE,2018-09-03,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,STERV.HE,2018-09-04,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,KNEBV.HE,2018-09-05,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,WRT1V.HE,2018-09-06,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,METSB.HE,2018-09-07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,LAGA.PA,2024-10-17,True,True,False,True,False,True,False,True,...,True,True,True,True,False,True,True,True,False,False
1599,LAGA.PA,2024-10-18,True,True,False,True,False,True,False,True,...,True,True,True,True,False,True,True,True,False,False
1600,LAGA.PA,2024-10-21,True,True,False,True,False,True,False,True,...,True,True,True,True,False,True,True,True,False,False
1601,LAGA.PA,2024-10-22,True,True,False,True,False,True,False,True,...,True,True,True,True,False,True,True,True,False,False
1602,LAGA.PA,2024-10-23,True,True,False,True,False,True,False,True,...,True,True,True,True,False,True,True,True,False,False

In [23]:
myday

0       03-09-2018
1       04-09-2018
2       05-09-2018
3       06-09-2018
4       07-09-2018
           ...
1598    17-10-2024
1599    18-10-2024
1600    21-10-2024
1601    22-10-2024
1602    23-10-2024
Name: date, Length: 1603, dtype: object

In [24]:
price = price_df.iloc[:,1:].copy().set_index('date', drop=True) 
tri = tri_df.iloc[:,1:].copy().set_index('date', drop=True)
volume = volume_df.iloc[:,1:].copy().set_index('date', drop=True)
mtbv = mtbv_df.iloc[:,1:].copy().set_index('date', drop=True)
rec = analyst_df.iloc[:,1:].copy().set_index('date', drop=True)
tcost = tcost.iloc[:,1:].set_index('date', drop=True)
isactivenow = isactive1.iloc[:,1:].copy().set_index('date', drop=True)

In [25]:
with open('hw2_SA.pkl', 'wb') as file:
    pickle.dump({'myday': myday, 
                'price': price, 
                'tri': tri, 
                'volume': volume,
                'mtbv': mtbv,
                'rec': rec,
                'tcost': tcost,
                'isactivenow': isactivenow
                }, file)